@model Game

@{
    ViewData["Title"] = "PiCloud edit game";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i>@Model.Name</h3>
        </div>

        <div class="col-md-9">
            <form asp-action="EditGame" asp-controller="Dashboard" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>
                <input asp-for="Featured" class="form-control" value="@Model.Featured" type="hidden"/>
                <input asp-for="FilePath" class="form-control" value="@Model.FilePath" type="hidden"/>

                <div class="form-group">
                    <label asp-for="Name" class="form-control-label">Title:</label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" placeholder="Name" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-control-label">Description:</label>
                    <textarea asp-for="Description" class="form-control" rows="7" cols="80" placeholder="Description">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Version" class="form-control-label">Version:</label>
                    <input asp-for="Version" class="form-control" value="@Model.Version" placeholder="1.0" required/>
                    <span asp-validation-for="Version" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="form-control-label">File:</label>
                    <label class="form-control-label">Original: @Model.FilePath</label>
                    <input type="file" class="form-control" name="gameFile" placeholder="1.0"/>
                    <span asp-validation-for="FilePath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </form>

            <form asp-action="DeleteGame" asp-controller="Dashboard">
                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </div>
            </form>
        </div>
    </div>
</div>
